<?xml version="1.0" encoding="UTF-8"?>
<pkgProperties xmlns="http://ns.adobe.com/ucf/1.0/">
<package/>
<entries>
{{#file}}
    <entry path='{{path}}'>
    <prop key='datetime'>{{date}}</prop>
</entry>
{{/file}}
</entries>
</pkgProperties>